<body class="flex items-center justify-center min-h-screen bg-gradient-to-r from-white to-blue-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-2/7">
        <h2 class="text-2xl font-bold text-center text-gray-800">Create an Account</h2>
        <form [formGroup]="userForm" (submit)="signupUser()" class="mt-6">
            <div>
                <label class="block text-gray-700">Full Name</label>
                <input type="text" formControlName="name" placeholder="Enter your full name"
                    class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
            </div>
            <div class="mt-4">
                <label class="block text-gray-700">Email</label>
                <input formControlName="email" type="email" placeholder="Enter your email"
                    class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
            </div>
            <div class="mt-4">
                <label formControlName="password" class="block text-gray-700">Password</label>
                <input type="password" placeholder="Create a password"
                    class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
            </div>
            <div class="mt-4">
                <label class="block text-gray-700">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" placeholder="Confirm your password"
                    class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
            </div>
            <button type="submit"
                class="w-full mt-6 px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                Register
            </button>
        </form>
        <p class="mt-4 text-lg text-center text-gray-600">
            Already have an account?
            <a href="#" class="text-blue-500 hover:underline">Login</a>
        </p>
    </div>
</body>